.about {
  align-items: center;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 100%;
}

.about-text {
  color: var(--white);
  font-family: var(--base-font);
  font-size: 2.5rem;
  font-weight: lighter;
  line-height: 2.5rem;
  text-align: center;
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
}
