.banner {
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../assets/wolf2.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: var(--big-screen);
  margin: auto;
  width: 70%;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.divider {
  background-color: var(--white);
  height: 0.4rem;
  width: 10rem;
}

.banner-text {
  color: var(--white);
  font-family: var(--base-font);
  font-size: 3rem;
  font-weight: 300;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
}

.banner-title {
  color: var(--white);
  font-family: var(--base-font);
  font-size: 8rem;
  font-weight: 800;
  margin-bottom: 2rem;
  text-align: center;
}
