.footer {
  align-items: center;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 4;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  padding-left: 5rem;
}

.footer-data {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}

.footer-infos {
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  height: 100%;
}
.footer-map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-map img {
  min-width: 100px;
  max-width: 100%;
}

.footer-info-item {
  display: flex;
  flex-direction: row;
}

.footer-info-item img {
  max-width: 2rem;
  fill: var(--white);
}

.footer-info-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-info-item-text {
  color: var(--white);
  font-family: var(--base-font);
  font-size: 1.4rem;
  margin-left: 15px;
}

.footer-develop {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.footer-develop-text {
  color: var(--white);
  font-family: var(--base-font);
  font-size: 1.7rem;
  font-weight: lighter;
  margin-bottom: 15px;
}

.footer-button {
  text-decoration: none;
  font-family: var(--base-font);
  font-size: 2.7rem;
  color: var(--dark-grey);
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 10px 20px;
}

@media only screen and (max-width: 355px) {
  .footer-map {
    margin-bottom: 10px;
  }
}
