:root {
  --light-blue: #85cdf4;
  --dark-blue: #2c567f;
  --yellow: #deb959;
  --dark-grey: #333333;
  --white: #fafafa;
  --black: #000;
  --base-font: "Darker Grotesque", sans-serif;
  --big-screen: 1180px;
  --base-padding: 2.5rem;
  font-size: 62.5%;
}
