.navigation {
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  height: 6rem;
  padding: 0.8rem;
  position: relative;
}

.group {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
}

header li a {
  color: var(--black);
  font-family: var(--base-font);
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

header li {
  list-style-type: none;
}

.navigation img {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 6rem;
}

@media only screen and (max-width: 443px) {
  header li a {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 350px) {
  header li a {
    font-size: 1.4rem;
  }
}
