.centered {
  margin: auto;
  max-width: var(--big-screen);
  width: 100%;
}

.section-title {
  color: var(--yellow);
  font-family: var(--base-font);
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
  text-align: center;
}
