.values {
  align-items: center;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 100%;
}

.values-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin: 30px;
}

.item-image {
  width: 90px;
}

.circle {
  display: flex;
  justify-content: center;
  width: 110px;
  height: 110px;
  background-color: var(--white);
  border-radius: 50%;
  padding: 10px;
}

.item-title {
  color: var(--white);
  font-family: var(--base-font);
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-text {
  color: var(--white);
  font-family: var(--base-font);
  font-weight: lighter;
  font-size: 1.8rem;
  text-align: center;
}
