.wolfs {
  align-items: center;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 100%;
}

.wolf-item {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  margin-top: 50px;
  padding-right: 5rem;
  padding-left: 5rem;
  justify-content: space-between;
}

.wolf-item:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 2;
  margin-top: 50px;
  justify-content: space-between;
}

.wolf-img {
  flex: 1;
  width: 10%;
  object-fit: cover;
  box-shadow: -34px -37px 0px -4px var(--dark-blue);
}

.wolf-item:nth-child(odd) .wolf-img {
  box-shadow: 34px -37px 0px -4px var(--dark-blue);
}

.wolf-data {
  flex: 1;
  margin-left: 50px;
}

.wolf-item:nth-child(odd) .wolf-data {
  margin-left: 0px;
  margin-right: 50px;
}

.wolf-item:nth-child(odd) .wolf-title,
.wolf-item:nth-child(odd) .wolf-description,
.wolf-item:nth-child(odd) .wolf-age {
  text-align: right;
}

.wolf-item:not(:last-child) {
  padding-bottom: 30px;
}

.wolf-title {
  font-family: var(--base-font);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.wolf-age {
  font-family: var(--base-font);
  font-size: 1.8rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

.wolf-description {
  font-family: var(--base-font);
  font-size: 2rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 715px) {
  .wolf-item {
    flex-direction: column;
    flex-grow: 0;
  }
  .wolf-item .wolf-img {
    flex: 1;
    width: 100%;
  }
  .wolf-data {
    flex: 0;
  }

  .wolf-item:nth-child(odd) {
    flex-direction: column;
    flex-grow: 0;
  }

  .wolf-item:nth-child(odd) .wolf-img {
    flex: 1;
    width: 100%;
  }

  .wolf-img {
    box-shadow: -15px -15px 0px -4px var(--dark-blue);
  }

  .wolf-item:nth-child(odd) .wolf-img {
    box-shadow: -15px -15px 0px -4px var(--dark-blue);
  }
  .wolf-data {
    margin-left: 0px;
  }
  .wolf-item:nth-child(odd) .wolf-title,
  .wolf-item:nth-child(odd) .wolf-description,
  .wolf-item:nth-child(odd) .wolf-age {
    text-align: center;
  }
  .wolf-item:nth-child(odd) .wolf-data {
    margin-left: 0px;
    margin-right: 0px;
  }
  .wolf-item .wolf-title,
  .wolf-item .wolf-description,
  .wolf-item .wolf-age {
    text-align: center;
  }
  .wolf-item .wolf-title {
    margin-top: 15px;
  }
}
